/*================================================
  Author: Joseph Paulson
  github.io/mindvoyager
  ================================================
  LEGACY COMPATIBILITY
  ================================================*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
mark,
nav,
section,
summary,
time {
	display: block;
}

/*================================================
  GENERIC STYLES
  ================================================*/
@font-face {
	font-family: Footlight;
	src: url(../resources/FTLTLT.TTF);
}

@font-face {
	font-family: Kingthings Petrock;
	src: url(../resources/Kingthings_Petrock.ttf);
}

@font-face {
	font-family: Kingthings Petrock Light;
	src: url(../resources/Kingthings_Petrock_light.ttf);
}

body {
	font-family: 'Kingthings Petrock Light', 'Footlight MT Light', Palatino, serif;
	background: url(../images/dark_wood_background1.png) repeat fixed center top;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Kingthings Petrock', 'Old English Text MT Regular', Palatino, serif;
	font-weight: normal;
	color: #9d3323;
}

h1 {
	font-size: 2.2rem;
	margin: 0 0 0.4rem 0;
}

a {
	color: #42595b;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #3b6e73;
	text-shadow:
		-1px -1px 0 #c0911e, /*e2b441*/ /*hack for adding stroke*/
		1px -1px 0 #c0911e,
		-1px 1px 0 #c0911e,
		1px 1px 0 #c0911e;
}

a:active {
	color: #3b6e73;
	text-shadow:
		-1px -1px 0 #c0911e, /*e2b441*/ /*hack for adding stroke*/
		1px -1px 0 #c0911e,
		-1px 1px 0 #c0911e,
		1px 1px 0 #c0911e;
}

p {
	padding: 0;
	margin: 0 0 0.3rem 0;
}

.content-wrapper {
	width: 300px;	/*change with media break-points */
	margin: 0 auto;
}

.box {
	/*font-family: 'Footlight', 'Footlight MT Light', Palatino, serif;*/
	position: relative;
	font-size: 1.1rem;
	color: rgba(87,76,67,1.0); /*#574c43*/
	background: rgba(239,224,194,0.65); /*#efe0c2*/
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	border-style: hidden;
	border-radius: 0.5rem;
	overflow: hidden;
	margin-bottom: 0.75rem;
	padding: 36px;
	/*shadow inside*/ /*inside glow #b27e49*/
	box-shadow: 0 0 36px 18px rgba(178,126,73,0.65) inset, 2px 2px 10px 0 rgba(0,0,0,0.5);
	z-index: 0;
}

.box a {
	text-decoration: none;
}

/*================================================
  NAVIGATION STYLES
  ================================================*/
nav {
	color: #fff;
	position: fixed;
	width: 100%;
	height: 3rem;
	background: #9d3323;
	z-index: 200;
	font-size: 1.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 5px 0 10px 0 rgba(0,0,0,0.5);
	border-style: double none double none;
	border-width: 6px;
	border-color: #d57160;
}

nav a {
	color: #fff;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

nav a:hover {
	color: #efe0c2;
	text-shadow: none;
	text-decoration: none;
}

nav ul {
	text-decoration: none;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li {
	display: inline;
}

/*================================================
  HEADER STYLES
  ================================================*/
header {
	/*adding any kind of margin-top to header
	  or box results in everything being shoved
	  down by that amount. Why??! */
}

#bg-text {
	position: relative;
}

#name {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Kingthings Petrock', 'Old English Text MT Regular', Palatino, serif;
	font-weight: normal;
	color: #9d3323;
	text-shadow:
		-1px -1px 0 #e2b441, /*e2b441*/ /*hack for adding stroke*/
		1px -1px 0 #e2b441,
		-1px 1px 0 #e2b441,
		1px 1px 0 #e2b441;
	font-size: 3.0rem;
	display: inline;
}

#name #sub {
	font-size: 0.75em;
	/*line-height: 0.05em;*/
	color: #6b7d51;
}

/*================================================
  SKILLS STYLES
  ================================================*/
main {
	
}

.skills-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.skills-container-child {
	text-align: center;
}

.contact {
	
}

/*================================================
  FOOTER STYLES
  ================================================*/
/*can't get the footer centered for some reason!!*/
footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index = -200;
}

footer div {
}

footer h3 {
	display: inline;
	text-align: center;

	background-color: rgba(0,255,0,0.5);
	background: url(../images/black37pt5percent_alpha.png), url(../images/dark_wood_background1.png) repeat fixed center top;
	color: transparent;
	text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;

}

/*================================================
  ELEMENT STYLES
  ================================================*/
section {
	
}

.gallery {
	
}

/*================================================
  MEDIA BREAKS
  ================================================*/
/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.content-wrapper {
		width: 518px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.content-wrapper {
		width: 691px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.content-wrapper {
		width: 893px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.content-wrapper {
		width: 744px;
	}
}